src/main/resources/Xml/zone.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="zone">
        <xs:complexType>
            <xs:all>
                <xs:element name="name" type="xs:string"/>
            </xs:all>
            <xs:attribute name="id" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>